.filtersForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 84px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

/* CHECKBOX */

.filterGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.checkboxGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    height: 48px;
    margin-right: 16px;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    font-weight: 500;
    color: var(--color-dark);
    cursor: pointer;
}

.filterCheckbox {
    width: 18px;
    height: 18px;
    accent-color: var(--color-light-blue);
    cursor: pointer;
}

/* ACTION BUTTONS */

.filterActions {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.clearFiltersButton {
    position: absolute;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);

    color: var(--color-gray-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;

    cursor: pointer;
    white-space: nowrap;
    transition: color 250ms ease-in-out;
}

.clearFiltersButton:hover {
    color: var(--color-dark);
    text-decoration: underline;
}
