.filtersForm {
    position: relative;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 84px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

/* ACTION BUTTONS */

.filterActions {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

.clearFiltersButton {
    position: absolute;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);

    color: var(--color-gray-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;

    cursor: pointer;
    white-space: nowrap;
    transition: color 250ms ease-in-out;
}

.clearFiltersButton:hover {
    color: var(--color-dark);
    text-decoration: underline;
}

.clearFiltersButton:focus-visible {
    outline: 2px solid var(--color-light-blue);
    outline-offset: 2px;
}
