*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    font-family:
        var(--font-manrope),
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Manrope,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

main {
    flex: 1 0 auto;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

button {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
